body{
background-image: url("header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1349px, 667px;
  line-height: 1.7em; 
  font-family: 'Roboto', sans-serif;
}

.startpagina {
    width: 1349px;
    height: 667px;
    margin: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;

}