body{
  background-image: url("header_bg.jpg");
  background-size: cover;
      top: 0px;
      position: relative;
      vertical-align: text-top;
  }
  
  .logo {
    display: block;
    width: 300px;
    margin-top: 225px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .tekens{
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;

  }
  a{
    padding: 28px 26px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
  }
  
  h3{
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
  }
  