body{
background-image: url("header_bg.jpg");
    padding: 40px 0;
    top: 0px;
    position: relative;
    vertical-align: text-top;
    width: 100%;
}

img.logo {
  display: block;
  width: 300px;
  margin-top: 260px;
  margin-left: auto;
  margin-right: auto
}
i {
  color: gray;
  text-align: right;
  margin: 50px 35px 0px 35px;
  font-size: 30px;
}

h3 {
  display: inline-block;
  color: gray;
  text-align: right;
  margin: 0px 25px;
  font-size: 15px;
}